<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarvelApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E9EA39B2093BF7100134CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9EA3AF2093BF7E00134CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9EA3BA2093BF7E00134CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
